
#leftside {
	position: relative;
	height: 70%;
	width: 200px;
	overflow: auto;
	background-color: #800000;
	top: 100px;
	margin-left: -10px;
}


#leftside::-webkit-scrollbar {
    display: none;
}


#sidebarMenu{
	position: relative;
	top: 0px;
	list-style-type: none;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20%;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Euphemia UCAS";
	font-size: 20;
	line-height: 120%;
	text-indent: 30px;
	color:white;
    cursor:default;
}


.selected{
	background-color: #FFCC00;
	color: black;
	text-align: right;
	padding-right: 6px;
}


:not(.selected):hover{
	color: black;
}