<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/checklist_designer.css">
  	<script src="javascripts/jquery-1.11.0.min.js"></script>
	<script src="javascripts/jscolor.js"></script>

	    <script src="../jQuery-contextMenu-master/src/jquery.ui.position.js" type="text/javascript"></script>
    <script src="../jQuery-contextMenu-master/src/jquery.contextMenu.js" type="text/javascript"></script>
    <script src="../jQuery-contextMenu-master/screen.js" type="text/javascript"></script>
    <script src="../jQuery-contextMenu-master/prettify/prettify.js" type="text/javascript"></script>
    
    <link href="../jQuery-contextMenu-master/src/jquery.contextMenu.css" rel="stylesheet" type="text/css" />
    <link href="../jQuery-contextMenu-master/screen.css" rel="stylesheet" type="text/css" />
    <link href="../jQuery-contextMenu-master/prettify/prettify.sunburst.css" rel="stylesheet" type="text/css" />
    
	<title>UserChecklist</title>
	<script src="javascripts/checklist_designer.js"></script>
</head>

<body>

	<div id='everything'>

		<div id='leftside'>
			<div id='sidebar'></div>
			<div id='logoBox'>
				<div id='name'>The Umass Compass</div>
				<div id='horizon'>by Horizon</div>
			</div>
			<div id='bar'></div>
			<div id='editingMenu'></div>
		</div>

		<div id='center'>

			<div id='navMenu'>
				<div id='navChecklist'>
					<div class='navContainer'><a href="/designer" id="chlist">Checklist</a></div>
				</div>
				<div id='navProfile'>
					<div class='navContainer'><a href="/settings" id="ds_settings">Settings</a></div>
				</div>
				<div id='navForums'>
					<div class='navContainer'>Forums</div>
				</div>
				<div id='navLogout'>
                    <div class='navContainer'><a href="/logout" id="logout">Logout</a></div>
                </div>
			</div>

			<div id='titleAndChecklist'>
				<div id='titleBox'>
					<div id='title'>Welcome!</div>
					<div id='addElement'>Add Element</div>
				</div>		
				<div id='checklist'></div>
			</div>
			
		</div>

	</div>

</body>

