<!DOCTYPE html>
<html>
<head>
    <title>Horizon - Login</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/Login.css">
    <script type="text/javascript" src="javascripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="javascripts/Login.js"></script>
</head>

<body>
    <div id="everything">
        <div id="leftside">
            <form method="post" action="authorize">
                <label for="username">Username:</label>
                <input id="username" type="text" name="username"><br>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password"><br>
                <input type="submit" value="Login">
            </form>
            <p id="register">Not registered yet? Click here.</p>
            <div id='compass'>The UMass Compass</div>
            <div id='horizon'>by Horizon</div>
            <div id='bar'></div>
        </div>
        <div id="center">
            <div id="title">Welcome to Compass!</div>
            <div id="intro">HORIZON provides SOLUTIONS! We've STREAMLINED tasks so you don't have too! Horizon's NOVEL approach to
                USABILITY and SIMPLICITY helps you accomplish TASKS!  Create an account to gain access to our STREAMLINED
                SOLUTION to your problems!  Help SHAPE your future with the POWERFUL TOOLS provided by HORIZON! TL;DR Lorem Ipsum!</div>
        </div>
    </div>
</body>
</html>